     @import url('https://fonts.googleapis.com/css?family=Roboto:100,200,300,400,600,700|karla:100,200,300,400,600,700');


 header{
  margin: 0;
 }
          .logo{
      background: url("../images/logo.jpg");
      
     background-position: center;
     background-repeat: no-repeat;
     background-size: cover;
     min-height: 360px;
     transition:all .5s ease-in-out;
     -moz-transition:  .5s ease-in-out;
     -webkit-transition: all .5s ease-in-out;
 }

     
     body {
      margin:0;
      padding: 0;
      font-family: 'open sans' ,'sans- serif';
         
          }
           nav ul{
           list-style: none;
            background-color: #999999;
            text-align: center;
            margin: 0;
            padding: 0;
            
 }
 
 nav li{
  font-size: 1.2em;
  line-height: 40px;
  height:  40px;
  display: inline-block;
  margin-left: 2.5%;
 }
 
 
 nav a{
  text-decoration: none;
  color: #ffffff;
  display: block;
  
 }
 nav a :hover{
   background-color: #ffffff;
  color: #ff1a1a;
 }
 
 

li a .active {
  background-color: #595959;
  color:#ffffff;
}


 